.about-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
    padding: 20px;
}

.contributors h2 {
    text-align: center;
}

tbody{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mentor h2{
    text-align: center;
}

.mentor a {
    margin-bottom: 20px;
}

.contributor {
    margin-top: 20px;
    margin-left: 20px;
    max-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.contributor img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}