.articles-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
}

.ArticlesClass h2 {
    text-align: center;
}

tbody{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.Articles {
    margin-top: 20px;
    margin-left: 20px;
    max-width: 26rem;
    display: grid;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.Articles:hover{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: #30363d;
    box-shadow: 0 5px 14px -8px rgba(0, 0, 0,  0.5);
}

.Articles:hover a{
    color: #fff;
}

.Articles img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

#btns{
margin-bottom: 10px;
}
