{% extends 'base.html' %}
{% block content %}

<style>
    .main {
        text-align: center;
    }
</style>

<p><b>W</b>e are the makers/contributors of this project text analyzer where you can
    perform
    some operations like capitalize, lower, upper and remove punctuation. This is created using
    Python Django. It is completely open source hence you can too contribute anything to
    this project if you want. All your new ideas are welcome here, we
    will implement it together.
</p>

<div class="mentor">
    <h2>Our mentor</h2>
    <p><a href="https://github.com/rockingrohit9639" target="_blank">Rohit Kumar Saini</a></p>
</div>

<div class="contributors">
    <h2>Our Contributors</h2>
    <!--<p><a href="https://github.com/Sloth-Panda">Achyut Kumar Panda</p>
    <p><a href="https://github.com/ShudhanshuSingh">Shudhanshu Singh</p>
    <p><a href="https://github.com/muthuannamalai12">Muthu Annamalai</p>
    <p><a href="https://github.com/ayushrastogi689">Ayush Rastogi</p>
    <p><a href="https://github.com/tharunc">Tharun C</p>
    <p><a href="https://github.com/Amit366">Amit Kumar Mishra</p>-->


    <div id="contributorsLlist">

        {% if userData %}
            {% for data in userData %}
               <table>
                <tr>
                   <td>
                    <div class="contributor">
                        <img src="{{ data.avatar_url }}" class="rounded-circle" alt="avatar">
                        <a href="{{ data.html_url }}"><p> {{ data.login }} <p></a>
                    </div>
                   </td>
                    
                </tr>
              </table>
            {% endfor %}
        {% endif %}

    </div>
</div>


{% endblock content %}