{% extends 'base.html' %}
{% block content %}          

<h1 class="header">Text Analyzed Successfully 🎉</h1>
<p>You choosed : {{purpose}}</p>
<h3>Result : </h3>

{% if highlight %}
<h4> {{ highlight }} </h4>
{% endif %}

<p><pre id="analyzed_text"> {{analyzed_text}}</pre></p>
<hr />

{% if status %}
<h4> Status : {{ status }} </h4>
{% endif %}

{% if status2 %}
<h4> {{ status2 }} </h4>
<a href="gallery/"><button>Results</button></a>
{% endif %}

<p class="text-muted mt-2"> Words : {{ wordcount }}</p>

{% endblock %}
