{% extends 'base.html' %} 

{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/books.css' %}" />

<section class="books-section">

  <div class="BooksClass">
    <h2>Books related to {{text}}</h2>

    <div id="bookslist">
      {% if result %}
      <table>
        <tbody>
          {% for i in result %}
          <tr>
            <td>
              <div class="Books">
                <img
                  src="{{ i.thumbnail }}"
                  alt="avatar"/>
                <a href="{{ i.link}}"
                target="_blank"
                  ><p>{{ i.title }}</p>
                  <p>{{i.description_text}}</p>
                  <p></p
                  ></a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>

  <a href="/index2"><button id="btns">Back</button></a>

</section>

{% endblock content %}
