{% extends 'base.html' %} 
{% load static %} 


{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<section class="header" id="header">

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-6 header__left">
                <div class="content">
                    <h4>Easy way to analyze your text.</h4>
                    <p>This is an open source project managed by <a href="https://www.linkedin.com/in/rohit-kumar-saini/" target="_blank"> <u> Rohit Saini </u> </a>.</p>
                </div>

                <div class="buttons">
                    <a id="btn1" href="/index"> Analyze </a>
                    <a id="btn2" href="/index2"> Generate </a>
                </div>
            </div>

            <div class="col-md-6 header__right">
                <p> T. </p>
            </div>

        </div>
    </div>

    <span class="skewOne"></span>
    <span class="skewTwo"></span>

</section>

<section class="services">

    <div class="top">
        <h3> Services </h3>

        <div class="icons">
            <hr>
            <i class="fas fa-star"></i>
            <hr>
        </div>
    </div>

    <div class="cards">
        
        <div class="card-s">
            <h3> Generate Password </h3>
            <hr>
            <div class="desc">
                <p> Generate a random password by enetring some text. </p>
            </div>
            

            <a href="/index2"> GO </a>
        </div>

        <div class="card-s">
            <h3> Sentiment Anaysis </h3>
            <hr>
            
            <div class="desc">
                <p> Analyze the sentiment of any text given by you. </p>
            </div>

            <a href="/index"> GO </a>
        </div>

        <div class="card-s">
            <h3> Search Images </h3>
            <hr>
            
            <div class="desc">
                <p> Search images for any word enetered by you. </p>
            </div>

            <a href="/index2"> GO </a>
        </div>

    </div>


</section>



<script type="text/javascript">
    
    const skewOne = document.querySelector(".skewOne");
    const skewTwo = document.querySelector(".skewTwo");

    window.addEventListener("scroll", () => {
        const val1 = -15 + window.scrollY / 45;
        const val2 = 15 + window.scrollY / -45;
        skewOne.style.transform = `skewY(${val1}deg)`;
        skewTwo.style.transform = `skewY(${val2}deg)`;
    })

</script>

{% endblock %}


<!-- <div class="foo">
    <h5></h5>
    <h6 style="color: red"><b>-Dr. APJ Abdul Kalam</b></h6>
</div> -->
