{% extends 'base.html' %} 

{% load static %} 

{% block content %} 

<link rel="stylesheet" href="{% static 'css/index.css' %}">

<section class="analyze-section">

    <h1 class="header" style="text-align: center;">Welcome to Text Analyzer</h1>
    <p style="text-align: center;">Add your text below to perform desired operations on it</p>

    <form action="/analyze" method="POST">{% csrf_token %}
        <textarea  id="text" name="text" class="form-control input-field" autofocus=true placeholder="Enter your text that need to be analyzed"></textarea>


        <input class="form-control input-word" id="word_input" name="word_input" autocomplete="off" placeholder="Enter word to find in text"/>

        <input style="display: none;" class="form-control input-word" id="other" name="other" autocomplete="off" placeholder="Enter word to be replace with in text"/>

        <p style="text-align: center;">Actions you can perform : </p>
        <div class="button-container">
            <div class="buttons">
                <input class="form-input" type="radio" value="word_find" 
                id="word_find" name="option">
                <label class="form-label" for="word_find">Find word</label>
            </div>
            <div class="buttons">
                <input class="form-input" type="radio" value="removepunc"
                 id="removepunc" name="option">
                <label class="form-label" for=removepunc">Remove Punctuations</label>
            </div>
            <div class="buttons">
                <input class="form-input" type="radio" value="capitalize" id="capitalize" name="option">
                <label class="form-label" for=capitalize">Capitalize</label>
            </div>
            <div class="buttons">
                <input class="form-input" type="radio" value="toSmall" id="toSmall" name="option">
                <label class="form-label" for=toSmall">To Lowercase</label>
            </div>
            <div class="buttons">
                <input class="form-input" type="radio" value="toUpper" id="toUpper" name="option">
                <label class="form-label" for="toUpper">To Uppercase</label>
            </div>
            <div class="buttons">
                <input class="form-input" type="radio" value="New_line" 
                id="New_line" name="option">
                <label class="form-label" for="New_line">'.' To New Line</label>
            </div>
            <div class="buttons">
                <input class="form-input" type="radio" value="Email_Address" 
                id="Email_Address" name="option">
                <label class="form-label" for="Email_Address">Email Addresses</label>
            </div>
            <div class="buttons">
                <input class="form-input" type="radio" value="Links" id="Links"
                 name="option">
                <label class="form-label" for="Links">Links</label>
            </div>

            <div class="buttons">
                <input class="form-input" type="radio" value="Sentiment" id="Sentiment"
                 name="option">

                <label class="form-label" for="Sentiment">Sentiment Analysis</label>
            </div>
            <div class="buttons">
                <input class="form-input" type="radio" value="grammar" id="grammar"
                 name="option">
                <label class="form-label" for="grammar">Check Grammar</label>              
            </div>
            <div class="buttons">
                <input class="form-input" type="radio" value="lemmitize" id="lemmitize"
                 name="option">
                <label class="form-label" for="lemmitize">Lemmitizer</label>              
            </div>     
            <div class="buttons">
                <input class="form-input" type="radio" value="replace" id="replace"
                 name="option">
                <label class="form-label" for="replace">Replace</label>              
            </div> 
            <div class="buttons">
                <input class="form-input" type="radio" value="date" id="date"
                 name="option">
                <label class="form-label" for="date">Date Extractor</label>              
            </div>
            <div class="buttons">
                <input class="form-input" type="radio" value="word_frequency" id="word_frequency"
                 name="option">
                <label class="form-label" for="word_frequency">Word Frequency</label>              
            </div>                
        </div>
        <button type="submit">Analyze</button>
    </form>
     <div id="container2">        
        <button onclick="Clear_text();">Clear</button>
        <button onclick="Default_text();">Default Text</button>
    </div>

    <div id="container">
        <a href="/"><button id="btns">Back To Home</button></a>
        <a href="/index2"><button id="btns2"> Generator </button></a>
    </div>

    {% if emptyText %}
    <script>
        alert("Please enter some text first!")
    </script>
    {% endif %}

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
$("input[type='radio']").change(function(){
    if($(this).val()=="replace")
    {
    $("#other").show();
    }
    else
    {
    $("#other").hide();
    }
  });
});
</script>
<script>
    function Clear_text(){
        document.getElementById('text').value='';
        document.getElementById("word_input").value='';
    };

    function Default_text(){
        if(document.getElementById('word_find').checked){
        document.getElementById("text").value="I wanna add my text to text analyzer and return a output texts."
        document.getElementById("word_input").value="text"
        }
        else if(document.getElementById('removepunc').checked){
        document.getElementById("text").value="simplify to test@ your+% text!!%"
        }
        else if(document.getElementById('capitalize').checked){
        document.getElementById("text").value="you should read this article."
        }
        else if(document.getElementById('toSmall').checked){
        document.getElementById("text").value="Convert MY Text INTo Lowercase"
        }
        else if(document.getElementById('toUpper').checked){
        document.getElementById("text").value="convert my text into uppercase"
        }
        else if(document.getElementById('New_line').checked){
        document.getElementById("text").value="Imagination is more important than knowledge.Technology makes what was once impossible possible."
        }
        else if(document.getElementById('Email_Address').checked){
        document.getElementById("text").value="mymail: test543@gmail.com is confirmed"
        }
        else if(document.getElementById('Links').checked){
        document.getElementById("text").value="link: https://www.djangoproject.com/ ,visit this website"
        }
        else if(document.getElementById('Sentiment').checked){
        document.getElementById("text").value="this person is unfaithful"
        }
        else if(document.getElementById('grammar').checked){
        document.getElementById("text").value="Machne Learniing is impotant"
        }
        else if(document.getElementById('lemmitize').checked){
        document.getElementById("text").value="Your text is ready to be analysed"
        }
        else if(document.getElementById('replace').checked){
        document.getElementById("text").value="This word is used for text analysis";
        document.getElementById("word_input").value="word";
        document.getElementById("other").value="sentence";
        }
        else if(document.getElementById('date').checked){
        document.getElementById("text").value="I start my journey on 10 October 1997"
        }  
        else if(document.getElementById('word_frequency').checked){
        document.getElementById("text").value="This text is started with a line to show line in a text .You have to show it as a text in a line"
        }                                                               
        else {
            alert("Choose an option first!!");
        }
    };
</script>

{% endblock %}

