
{% extends 'base.html' %}

{% load static %}


    {% block content %}
        
                    <h1 class="header" style="text-align: center;">Welcome to Text Analyzer</h1>
                    <p style="text-align: center;">Add your text below to perform desired operations on it</p>
                    <form action="/analyze" method="POST">{% csrf_token %}
                        <textarea  id="text" name="text" class="form-control input-field" autofocus=true placeholder="Enter your text that need to be analyzed"></textarea>
        
                        
                        <input class="form-control input-word" id="word_input" name="word_input" placeholder="Enter word to find in text"/>
            
                        <p style="text-align: center;">Actions you can perform : </p>
                        <div class="button-container">
                            <div class="buttons">
                                <input class="form-input" type="checkbox" value="on" id="word_find" name="word_find">
                                <label class="form-label" for="word_find">Find word</label>
                            </div>
                            <div class="buttons">
                                <input class="form-input" type="checkbox" value="on" id="removepunc" name="removepunc">
                                <label class="form-label" for=removepunc">Remove Punctuations</label>
                            </div>
                            <div class="buttons">
                                <input class="form-input" type="checkbox" value="on" id="capitalize" name="capitalize">
                                <label class="form-label" for=capitalize">Capitalize</label>
                            </div>
                            <div class="buttons">
                                <input class="form-input" type="checkbox" value="on" id="toSmall" name="toSmall">
                                <label class="form-label" for=toSmall">To Small</label>
                            </div>
                            <div class="buttons">
                                <input class="form-input" type="checkbox" value="on" id="toUpper" name="toUpper">
                                <label class="form-label" for="toUpper">To Upper</label>
                            </div>
                            <div class="buttons">
                                <input class="form-input" type="checkbox" value="on" id="New_line" name="New_line">
                                <label class="form-label" for="New_line">'.' To New Line</label>
                            </div>
                            <div class="buttons">
                                <input class="form-input" type="checkbox" value="on" id="Email_Address" name="Email_Address">
                                <label class="form-label" for="Email_Address">Email Adddresses</label>
                            </div>
                            <div class="buttons">
                                <input class="form-input" type="checkbox" value="on" id="Password_Generator" name="Password_Generator">
                                <label class="form-label" for="Password_Generator">Password Generator from text</label>
                            </div>
                             <div class="buttons">
                                <input class="form-input" type="checkbox" value="on" id="word_find" name="Search_word">
                                <label class="form-label" for="Search_word">Search word</label>
                            </div>    
                             <div class="buttons">
                                <input class="form-input" type="checkbox" id="gallery" name="q" value="on">
                                <label class="form-label" for="q">Search Images
                                </label>
                            </div>
                            <div class="buttons">
                                <input class="form-input" type="checkbox" value="on" id="suggest_word" name="suggest_word">
                                <label class="form-label" for="suggest_word">Suggest Word</label>
                            </div>                                  
                        </div>
                        <button type="submit">Analyze Text</button>
                    </form>
                    <div id="container">
                        <a href="/"><button id="btns">Back To Home</button></a>
                        <a href="/index2"><button id="btns2">Text Generator</button></a>
                    </div>
                    
        {% endblock %}
